a {
  cursor: pointer;
}

.table {
  display: table;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.table .table-col {
  display: table-cell;
  padding: 1rem;
  color: #333;
}

.table .table-head {
  display: table-row;
  background-color: rgba(51, 51, 51, 0.7);
}

.table .table-head .table-col {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .table .table-head {
    display: none;
  }
}

.table .table-body {
  display: contents;
}

.table .table-body .table-row-a {
  display: contents;
}

.table .table-body .table-row-a .table-row {
  display: table-row;
  background-color: #ccc;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.table .table-body .table-row-a .table-row .table-col .register img {
  width: 25px;
  height: 25px;
}

@media only screen and (max-width: 768px) {
  .table .table-body .table-row-a .table-row {
    display: block;
  }

  .table .table-body .table-row-a .table-row .table-col {
    font-size: 18px;
    display: inline;
  }

  .table .table-body .table-row-a .table-row .table-col .register img {
    margin: 10px 0;
  }

  .table .table-body .table-row-a .table-row .table-col:before {
    content: attr(data-title);
    display: block;
    font-size: 20px;
    font-weight: 700;
  }
}

.table .table-body .table-row-a:nth-of-type(2n) .table-row {
  background-color: #ddd;
}

.table .table-body .table-row-a:hover .table-row {
  background-color: rgba(51, 51, 51, 0.4);
}

.button {
  padding: .5rem;
  width: auto;
  display: block;
  color: #333;
  background-color: #fff;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  border: 1px solid #333;
}

.button:hover {
  color: #fff;
  background-color: #333;
  text-decoration: none;
}

