@import url('https://fonts.googleapis.com/css?family=Hind:200,300,400,700&subset=latin-ext');
html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	overflow: auto;
	color: black;
	font-family: 'Hind', sans-serif;
}
p,ul{
	font-size: 18px;
	font-weight: 300;
	padding: 10px;
	/*width: 80%;*/
	/*text-indent: 10px;*/
}
ul{
	/*display: inline-block;*/
	list-style-type: square;
	/*max-width: 80%;*/
}
table{
	border-collapse: collapse;
}
table td, table th{
	border: 1px solid rgb(240,240,240);
	vertical-align: middle!important;
}
.bl{
	text-align: justify;
}
.c{
	margin: 0 auto;
}
#header{
	position: fixed;
	display: inline-block;
	z-index: 10;
	min-height: 50px;
	width: 100%;
	background: rgba(0,0,0,0.7);
	font-size: 22px;
	overflow: hidden;
	text-align: center;
	padding-top: 10px;
}

.header_strip{
	float: left;
}
.header_button_box{
	display: block;
	height: 30px;
	line-height: 36px;
	min-width: 50px;
	float: left;
	text-align: center;
	display: inline-block;
	position: relative;
	color: white;
}
.header_button_box a{
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px;
	vertical-align: middle;
	position: relative; 
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-image: url('../img/empty.gif');
	text-decoration: none;
	color: white;
	
	-webkit-transition: color 200ms linear;
	-moz-transition: color 200ms linear;
	-o-transition: color 200ms linear;
	-ms-transition: color 200ms linear;
	transition: color 200ms linear;
}
.header_button_box a:hover, #header_flag a:hover{
	text-decoration: none;
	color: rgb(200,200,200);
	
	-webkit-transition: color 200ms linear;
	-moz-transition: color 200ms linear;
	-o-transition: color 200ms linear;
	-ms-transition: color 200ms linear;
	transition: color 200ms linear;
}
.site-wrap {
	min-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	background-size: 101%;
	z-index: 1;
	overflow: hidden;
	margin-top: 50px;
	padding-bottom: 50px;
}
.content_headline{
	display: inline-block;
	width: 100%;
	line-height: 26px;
	font-size: 26px;
	border-bottom: 1px solid rgb(170,170,170);
	text-align: center;
	font-weight: 300;
	background: url('../img/headline_bg.png');
	padding-top: 14px;
	padding-bottom: 8px;
}
.content, .content_dark{
	margin: 0 auto;
	padding: 20px;
}
.content_dark, .rider_dark{
	background-color: rgb(70,70,70);
	color: white;
}
.content_inner{
	width: 80%;
	margin: 0 auto;
	max-width: 1200px;
}
.boxes_wrap{
	position: relative;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.content_ul{
	text-indent: 0px;
	margin-left: 0.8em;
}
.follow{
	position: fixed;
	z-index: 11;
	left: -19px;
	min-width: 3vw;
	width: 50px;
	max-width: 8vw;
	
	-webkit-transition: left 200ms linear;
	-moz-transition: left 200ms linear;
	-o-transition: left 200ms linear;
	-ms-transition: left 200ms linear;
	transition: left 200ms linear;
}
.follow img{
	position: relative;
	display: block;
	min-width: 2vw;
	width: 50px;
	max-width: 8vw;
}
.follow:hover{
	left: 1px;
	z-index: 13;
	
	-webkit-transition: left 200ms linear;
	-moz-transition: left 200ms linear;
	-o-transition: left 200ms linear;
	-ms-transition: left 200ms linear;
	transition: left 200ms linear;
}
.headline_lw{
	font-weight: 200;
	font-size: 24px;
	line-height: 24px;
	text-align: left;
	display: inline-block;
	padding: 5px;
	padding-top: 10px;
	border-bottom: 0px;
	border-bottom: 1px solid rgba(180,180,180,0.3);
	width: 100%;
	max-width: 100%;
}
.contact_box, .contact_box_dark{
	/*background-image: url('../img/headline_bg.png');*/
	background-color: rgba(0,0,0,0.05);
	width: 400px;
	max-width: 100%;
	display: inline-block;
	text-align: left;
	padding: 10px;
	overflow: hidden;
}

.contact_pic{
	height: 150px;
	float: left;
	margin-right: 17px;
}
.contact_pic img{
}
.contact_content{
	margin-left: 10px;
	margin-top: -10 px;
}
.contact_name{
	width: 100%;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}
.contact_text{
	margin: 10px;
	font-size: 18px;
	line-height: 20px;
}

@media only screen and (max-width: 450px) {
	.contact_box, .contact_box_dark{
		width: 250px;
	}

	.contact_pic {
		float:  none;
		margin: 0;
		display: flex;
		justify-content: center;
	}

	.contact_content{
		margin: 0;
		text-align: center;
	}

	.contact_text{
		margin: 0;
		padding-top: -10px;
	}
}


.footer{
	position: fixed;
	bottom: 0px;
	z-index: 2;
	width: 100%;
	height: 38px;
	text-align: center;
	background-color: rgb(55,55,55);
}
#galerie_wrap{
	padding-top: 10px;
}
#galerie_wrap img:hover{
	box-shadow: 0px 0px 20px black;
}
.anchor{
	position: absolute;
	left: 0;
}
.clear{
	clear: both;
}
.bold{
	font-weight: 700;
}
#info ul{
	margin-left: 10px;
}
.email{
	font-size: 20px;
}
.email a{
	color: black;
	text-decoration: none;
}
.email a:hover{
	color: blue;
	text-decoration: underline;
}
.content_p{
	max-witdh: 80%;
}
#timetable_table{
	margin: 0 auto;
	width: 80%;
	min-width: 200px;
	max-width: 600px;
	text-align: left;
	border-top: 2px solid grey;
}
#timetable_table th, #timetable td{
	padding: 12px;
	padding-bottom: 8px;
	max-width: 300px;
}
#timetable th{
	border-bottom: 2px solid grey;
}
#timetable_table, #timetable td{
	border-bottom: 1px solid grey;
}
.results_a{
	color: blue;
	font-weight: bold;
	text-decoration: none;
}
.post-form{
	max-width: 500px;
	margin: 0 auto;
}
.button_submit{
	border: none;
	outline: none;
	cursor: pointer;
	background: none;
}
.button_link, .semester_link, .admin-form{
	display: inline-block;
	margin: 5px 5px 5px 5px;
}
.button_link_large{
	min-width: 250px;	
	height: 80px;
	line-height: 84px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 24px;
	font-weight: bold;
}
.button_link_medium{
	min-width: 155px;
	height: 50px;
	line-height: 54px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	font-weight: bold;
}
.button_link_small{
	min-width: 95px;
	height: 30px;
	line-height: 32px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
}
.button_link_large, .button_link_medium, .button_link_small{
	display: block;
	text-align: center;	
	vertical-align: center;
	background-color: rgb(70, 70, 70);
	color: white;
	border-radius: 4px;
}
.button_admin{
	background-color: rgb(150, 0, 0);
}
.button_link_large:hover, .button_link_medium:hover, .button_link_small:hover{
	-webkit-transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
 	transition: background-color 200ms linear;
}
.button_link_large:hover, .button_link_medium:hover, .button_link_small:hover{
	background-color: rgb(70, 150, 70);
}
.button_admin:hover, .button_admin:hover, .button_admin:hover{
	background-color: rgb(200, 80, 0);
}
a:visited, a:link, a:active{
	outline: none;
}
.white_links a, .white_links a:hover, .white_links a:visited, .white_links a:link, .white_links a:active{
	text-decoration: none !important;
	color: white !important;
}
.group_table{
	table-layout: fixed;
}
.group_table th{
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px;
}
.group_table .score_col{
	width: 60px;
}
/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { width: 100%; font-family: 'Hind', sans-serif; }
