@import "variables";

a{
  cursor: pointer;
}

.table {
  display: table;
  width: 100%;

  @media only screen and (max-width: $table-responsive) {
    display: block;
  }

  .table-col {
    display: table-cell;
    padding: 1rem;
    color: $dark;
  }

  .table-head {
    display: table-row;
    background-color: rgba(red($dark), green($dark), blue($dark), .7);

    .table-col {
      color: $white;
    }

    @media only screen and(max-width: $table-responsive) {
      display: none;
    }
  }

  .table-body {
    display: contents;

    .table-row-a {
      display: contents;


      .table-row {
        display: table-row;
        background-color: $light;
        transition-duration: .5s;


        .table-col {

          .register {
            img {
              width: 25px;
              height: 25px;
            }
          }
        }

        @media only screen and (max-width: $table-responsive) {
          display: block;

          .table-col {
            font-size: 18px;
            display: inline;

            .register{
              img{
                margin: 10px 0;
              }
            }

            &:before {
              content: attr(data-title);
              display: block;
              font-size: 20px;
              font-weight: 700;
            }
          }
        }
      }

      &:nth-of-type(2n) {
        .table-row {
          background-color: $lighter;
        }
      }

      &:hover {
        .table-row {
          background-color: rgba(red($dark), green($dark), blue($dark), .4);

        }
      }
    }
  }
}

.button {
  padding: .5rem;
  width: auto;
  display: block;
  color: $dark;
  background-color: $white;
  transition-duration: .5s;
  border: 1px solid $dark;

  &:hover {
    color: $white;
    background-color: $dark;
    text-decoration: none;
  }
}
